/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra Large 2300px to ~ */
@media only screen and (min-width: 2300px) {
  html {
    font-size: 80%;
  }

  .section-destination .grid div {
    height: 45rem;
  }

  h4 + .paragraph {
    width: 80%;
  }

  form {
    width: 40%;
  }
}

/* Default range */

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 57%;
  }
}

/* Large Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  html {
    font-size: 52%;
  }

  .section-destination .grid div {
    padding: 1.5rem;
  }

  .section-packages .grid div {
    padding: 5rem;
  }

  h4 + .paragraph {
    width: 70%;
  }
}

/* Large Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 847px) {
  html {
    font-size: 47%;
  }

  .landing-container {
    width: 70%;
  }

  .image-small,
  .image-large {
    flex-basis: 50%;
  }

  h4 + .paragraph {
    width: 100%;
  }

  .quote-container {
    width: 80%;
  }

  form {
    flex-direction: column;
    flex-grow: 0;
    width: 40%;
    height: 15rem;
    justify-content: space-evenly;
  }

  input[type="email"] {
    flex-grow: 0;
    padding: 1rem 0 1rem 2rem;
  }

  button.btn {
    margin-left: 0;
    align-self: center;
  }

  footer {
    flex-direction: column;
    height: 25rem;
    padding: 6rem 0;
  }
}

/* Extra small phone to Phone: 0px ~ 402px*/
@media only screen and (max-width: 402px) {
  html {
    font-size: 43%;
  }

  nav {
    padding: 3.5rem 4rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .landing-container {
    width: 90%;
  }

  section {
    padding: 5rem 2rem;
  }

  .grid {
    justify-content: center;
  }

  .image-small,
  .image-large {
    flex-basis: 90%;
  }

  .section-packages .grid div {
    flex-basis: 90%;
  }

  form {
    width: 70%;
  }

  input[type="email"] {
    padding: 1.3rem 0 1.3rem 2rem;
  }

  footer {
    padding: 6rem 3rem;
    text-align: center;
  }
}
